.play-layout {
    min-height: 198px;
    >li {
        display: flex;
        align-items: center;
        height: 54px;
        border-bottom: 1px dotted #CCC;
        ul {
            display: flex;
        }
    }
    label {
        min-width: 60px;
    }
    &.kl8 {
        .play-ball-list {
            li {
                margin-bottom: 8px;
            }
        }
    }
}

.play-layout li:nth-last-child(1) {
    border-bottom: 0px dotted #CCC;
}

.play-ball-list {
    flex-wrap: wrap;
    margin-right: 42px;
    li {
        display: flex;
        width: 39px;
        height: 39px;
        border: 1px solid #E4DFD5;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-right: 4px;
        cursor: pointer;
        user-select: none;
        &.selected {
            &.selected {
                background: url(~/assets/img/lottery/lottery_ball.png) no-repeat;
                color: #fff;
            }
        }
    }
}

.play-ball-tool {
    display: flex;
    align-items: center;
    background: #F3F3F3;
    border-radius: 10px;
    height: 25px;
    margin-left: auto;
    padding: 0px 15px;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 19px;
        height: 19px;
        line-height: 19px;
        margin: 0px 8px;
        cursor: pointer;
        font-size: 12px;
        user-select: none;
        &:hover {
            background: #E07700;
            border-radius: 50%;
            color: #fff;
        }
    }
    &:empty {
        display: none;
    }
}

.play-textarea {
    textarea {
        width: 98%;
        border-color: $--border-color-base;
        min-height: 162px;
        &+div {
            font-size: 12px;
            margin-top: 5px;
        }
    }
    .el-button {
        background: transparent;
        &+.el-button {
            margin-right: 10px;
        }
    }
}

.play-help {
    height: 16px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    & a:nth-child(1) {
        color: #E88620;
        background: url(../../img/ssc/warning.png) no-repeat left center;
        padding-left: 22px;
    }
    & a:nth-child(3) {
        display: flex;
        align-items: flex-end;
        color: #E88620;
        background: url(../../img/ssc/8.png) no-repeat left center;
        padding-left: 22px;
    }
    .el-icon-question {
        font-size: 16px;
        margin-right: 3px;
    }
}