<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <img src="" />
  <script type="text/javascript">
    window.onload = function() {
      var myImage = document.querySelector('img');
      fetch('aaa.jpg').then(function(response) {
        return response.blob();
      }).then(function(myBlob) {
        var objectURL = URL.createObjectURL(myBlob);
        myImage.src = objectURL;
      });
      
      
//    var myHeaders = new Headers();
//    console.log(myHeaders);
//    var myInit = {
//      method: 'GET',
//      headers: myHeaders,
//      mode: 'cors',
//      cache: 'default'
//    };
//    fetch('aaa.jpg', myInit).then(function(response) {
//      return response.blob();
//    }).then(function(myBlob) {
//      var objectURL = URL.createObjectURL(myBlob);
//      myImage.src = objectURL;
//    });
    }
  </script>
</body>
</html>