%bsc {
    background-size: cover !important;
}

@mixin Bg($pic, $width, $height) {
    background: url('../assets/img/indexHome/'+$pic) no-repeat;
    height: $height;
    width: $width;
}

@mixin cBg($pic, $width, $height) {
    background: url('../../assets/img/indexHome/'+$pic) no-repeat;
    height: $height;
    width: $width;
}

@mixin iBg($pic, $width, $height) {
    background: url('assets/img/indexHome/'+$pic) no-repeat;
    height: $height;
    width: $width;
}